* {
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: #1f2937;
    padding-top: 16px;
    padding-left: 128px;
    padding-right: 128px; 
    padding-bottom: 64px;
}

.top-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 64px;
}

.header-logo {
    align-self: flex-start;
    font-size: 24px;
    color:#f9faf8;
    font-weight: bolder;
}

.links {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap:18px;
    margin: 0px;
}

.bottom-row {
    display: flex;
    flex-direction: row;  
    justify-content: space-between;
    gap: 32px; 
}

.awesome {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
}

.top-image {
    background-color: #e5e7eb;
    width: 400px;
    height: 200px;
}

.hero-main-text {
    font-size: 48px;
    font-weight:900;
    color:#f9faf8;
}

.links,
.hero-secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

.button-1 {
    background-color: #3882F6;
    border-radius:10px;
    height: 18px;
    color:#e5e7eb;
    text-align: center;
    padding: 8px;
    font-weight: bold;
    width: fit-content;
    padding-left: 32px;
    padding-right: 32px;
}

.section-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 32px;
}

.header-text {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.container {
    display: flex;
    flex-direction: row;
    gap:32px;
    align-items: center;
    margin:32px
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    gap: 8px;
}

.image {
    border: #3882F6;
    width: 150px;
    height: 150px;
    border-style: solid;
    border-radius: 10px;
}

.item-text {
    text-align: center;
    color:#1f2937
}